.layout-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.side-nav {
  background-color: #0a1d31;
  width: 200px;
  .logo {
    position: relative;
    height: 105px;
  }

}

.side-nav-content {

}

